# --- Web & General ---
Flask
deep-translator

# --- Image Processing ---
Pillow
pillow-heif
opencv-python==4.9.0.80

# --- Core Data ---
numpy<2

# --- Deep Learning & AI Foundations ---
torch
torchvision
tensorflow
tf-keras
timm

# --- Specific AI Models ---
ultralytics
transformers==4.41.2
einops
git+https://github.com/openai/CLIP.git
deepface==0.0.99
retina-face

# --- Mapping ---
folium
branca
geopy